@import url(//db.onlinewebfonts.com/c/86e4910dca09b21de768cb0714d40970?family=Photina);
@font-face {font-family: "Photina"; src: url("//db.onlinewebfonts.com/t/86e4910dca09b21de768cb0714d40970.eot"); src: url("//db.onlinewebfonts.com/t/86e4910dca09b21de768cb0714d40970.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/86e4910dca09b21de768cb0714d40970.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/86e4910dca09b21de768cb0714d40970.woff") format("woff"), url("//db.onlinewebfonts.com/t/86e4910dca09b21de768cb0714d40970.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/86e4910dca09b21de768cb0714d40970.svg#Photina") format("svg"); }

* {
  box-sizing: border-box;
  margin: 30px;
}
@media only screen and (max-width: 400px) {
  .main {
    flex-wrap: wrap;
  }
  .header {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
  .page {
    width: 100%;
  }
}

@media only screen and (min-width: 401px) {
  
  .header {
    width: 50px;
  }
  .sidebar {
    width: 40px;
  }
}

.header {
  text-align: center;
}

body {
  font-family: 'Photina', serif;
}

.main {
  display: flex;
  background-color:#dfd5d585;
  height: auto;
}

.sidebar{
  margin-left: 0px;
}

.button {
  margin-left: 40px;
  margin-bottom: 20px;
}

.page {
  display: block;
  margin-left: 0px;
  height: 100%;
}

.synopsis {
  padding-right: 80px;
  line-height: 1.3em;
}

.photo {
  margin-left: 31px;
  display: block;
}

a {
  text-decoration: none;
  color: #34568B;
  margin: 0;
}

a:hover {
  color: rgb(67, 140, 201);
}

em {
  margin: 0;
}

.social-media-logos {
  display: flex;
  margin-left: 0;
  margin-top: 0;
}

h1 {
  color: #34568B;
  text-align:center;
}

.navigator {
  color: #34568B;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

sub {
  margin: 0;
  padding: 0; 
}

.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}



.caption {
  text-align: center;
  margin: 0;
  padding-top: 0;
  padding-bottom: 15px;
}

.byline {
  text-align: center;
}